.spinner-container {
  display: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #575757;
}
h1 {
  margin-top: 10px;
  font-weight: bold;
  color: #6887fd;
}
.container {
  max-width: 600px;
  border: 1px solid;
  border-radius: 12px;
  box-shadow: 5px 5px #cbd6ff;
  padding: 25px;
  background: #fcfcfc;
  margin-top: 15px;
}

#currentDate,
#weatherDescription {
  font-size: 14px;
}
#currentWeather {
  list-style: none;
  margin-top: 5px;
  font-size: 14px;
}
footer {
  margin-top: 15px;
  text-align: center;
  font-size: small;
}
#units {
  font-size: 53px;
  font-weight: bolder;
}

#forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.weather-forecast-icon {
  max-width: 50%;
}

.weather-forecast-max-temperature,
.weather-forecast-min-temperature {
}
#scaleWrapper {
  font-size: 18px;
  vertical-align: super;
}

#submitButton {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6887fd;
  --bs-btn-border-color: #6887fd;
  --bs-btn-hover-color: #cbd6ff;
  --bs-btn-hover-bg: #FFB51;
  --bs-btn-hover-border-color: #cbd6ff;
}

a {
  color: #6887fd;
}
