body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 600px;
  border: 1px solid;
  border-radius: 12px;
  padding: 25px;
}

#currentDate,
#weatherDescription {
  font-size: 14px;
}
#currentWeather {
  list-style: none;
}
footer {
  text-align: center;
  font-size: small;
}
#units {
  font-size: 30px;
}
